@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .swiper-slide__img
    height: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .activities
    &-card
      width: 230px
      height: 230px

  .packages__list
    grid-template-columns: 306px 306px 306px
    gap: 20px



@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .navbar  
    &__search
      margin-left: auto
    &__logo
      width: 133px
  .search
    width: 340px
  .navbar-top 
    padding: 30px 0
    &-menu
      padding: 23px 0
      &__link        
        font-size: 12px
        line-height: 15px
  .menu-button__line
    width: 16px
    height: 1px
    background-color: $text-color    
  .hotel  
    &-slider
      margin: 0  
      margin-bottom: 20px        
      width: 100%
    &-grid
      flex-direction: column
    &-right
      width: 100%
      flex-direction: row
      align-items: center      

  .swiper-slide__img
    width: 100%    
  .booking
    width: 340px
  
  .newsletter
    padding: 92px 0

  .reviews
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-swiper
      margin-bottom: 60px
      &__button
        &--prev
          left: -60px
        &--next  
          right: -60px
  .swiper-outside-container
    width: 580px
  
  .activities
    padding-bottom: 35px
    &-title
      font-size: 24px
      line-height: 30px
      margin-bottom: 57px
    &-card
      width: 340px
      height: 255px
      margin-bottom: 20px
      &__title
        max-width: 200px
    &-wrapper
      flex-wrap: wrap

  .packages__list
    grid-template-columns: 350px 350px 
    gap: 30px
        
@media (max-width: 768px)
  .swiper 
    width: 100%
    height: 100%    
    &-slide__img
      height: 100%
      width: 100%
  .container, .newsletter-wrapper
    max-width: 576px
    width: 92%    
  .navbar        
    &__search, &__user, &__navbar-menu
      display: none
  .navbar-top 
    &__menu-button
      display: flex
      width: 16px
      height: 11px
      flex-flow: column
      justify-content: space-between
      padding: 0
      border: none
      cursor: pointer  
  .rating
    display: none
  .hotel
    &-stars
      flex-basis: auto
    &-name
      flex-basis: 100%
    &-right
      flex-direction: column
    &-slider
      height: 350px
    &-info
      &__offer
        order: -1
      &__text
        width: 100%
    &-right
      flex-direction: column  
  .booking    
    margin-right: 0
    width: 100%
    margin-bottom: 20px    
  .map
    width: 100%

  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &-title
      margin: 0          
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 95%
    max-width: 380px

  .swiper-outside-container
    width: 92%

  .reviews
    &-title
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 42px
    &__text
        padding: 0
    &-swiper      
      margin-bottom: 50px
      &__button
        top: 30px        
        &--prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -85px         
        &--next  
          right: 50%
          transform: translateX(50%)
          margin-right: -85px 
      &__slide
        &::before, &::after
          display: none
  .activities
    &-card
      width: 48%

  .packages__list
    grid-template-columns: 80%
    justify-content: center
    gap: 30px
  .big-packages-card
    grid-template-columns: 1fr
    grid-column: 1 / 2
    &__img
      max-height: 300px
@media (max-width: 576px)
  .navbar
    &__logo
      width: 99px
  .hotel
    &-slider
      height: 250px
  .reviews   
    &-swiper
      &__slide
        padding-right: 33px
        padding-left: 33px
  .activities
    padding-top: 40px
    &-title
      margin-bottom: 36px
    &-card
      width: 100%
      height: 255px
  .packages__list
    grid-template-columns: 100%

@media (max-width: 400px)
  .hotel
    &-slider
      height: 200px
  .button-wrapper
    flex-direction: column
    align-items: flex-start

  .packages-card
    height: 300px        
    &__new-price
      margin-bottom: 20px
  .big-packages-card
    height: 800px
    &__img
      max-height: 200px

  .package-desc
    margin-bottom: 15px
    &__item
      margin-bottom: 5px
  
      

